@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900|Roboto+Slab:400,700&display=swap');



:root {
    --oneClick1: #57b368;
    --oneClick2: #dad873;
    --oneClick3: #5f6366;
  }

  body{
    background-color: white!important;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
font-family: 'Roboto Slab', serif;
}
/* nav color change */



.navbar-fixed-top.scrolled {
	background-color: rgba(255,255,255,0.9) !important;
	transition: background-color 200ms linear;
  }


/* end of nav color change */


#header {
    width: 100%;
}

#header .navbar-brand img{
    width: 140px;
    height: 50px;

}

/* navbar css */
#header{
    box-shadow: 1px 1px 2px var(--oneClick1);
}

#header .navbar .nav-item .nav-link{
    color: var(--oneClick1);
    transition: all 200ms ease-in-out;
    font-size: .9em;
}


#header .navbar .nav-item .nav-link:hover{
    color: var(--oneClick2);
}

#header .navbar .nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
}


#header .navbar .nav-item:last-child{
    border: .1rem solid var(--oneClick1);
    background-color: var(--oneClick1);
}
#header .navbar .nav-item:last-child:hover{
    background-color: transparent;
    border: .1rem solid var(--oneClick2);

}
#header .navbar .nav-item:last-child:hover .nav-link{
    color: var(--oneClick2);
}

#header .navbar .nav-item:last-child .nav-link{
    color: white;
}


#header .navbar .nav-item:last-child .nav-link:hover{
    color: var(--oneClick2);
}

.navbar-light .navbar-toggler {
    border-color: transparent!important;
}
.navbar-light .navbar-toggler:focus{
    outline: none!important;
    border:  none!important;
}

/* end of navbar css
 */
#landing-page .bd-example{
    position: relative;
    background-color: white;
}

#landing-page .carousel-item img{
    height: 85vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}
#landing-page .carousel-item .carousel-caption{
    top: 35%;
}
#landing-page .carousel-item .carousel-caption h5{
    font-family: 'Poppins', sans-serif; 
    font-weight: 900;
    font-size: 3em;
    color: var(--oneClick1);
}
#landing-page .carousel-item .carousel-caption h5 span{
    color: var(--oneClick3)!important;
    text-shadow: 1px 1px 1px white;
}


#landing-page .carousel-item .carousel-caption p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#landing-page .carousel-item .carousel-caption a.service{
    padding: .5rem 2rem;
    background-color: transparent;
    border: .1rem solid var(--oneClick1);
    font-size: .9em;
    color:var(--oneClick1);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
#landing-page .carousel-item .carousel-caption a.service:hover{
    color: white;
    background-color: var(--oneClick1);
}

#landing-page .carousel-item .carousel-caption a.started{
    padding: .5rem 2rem;
    background-color: var(--oneClick1);
    border: .1rem solid var(--oneClick1);
    font-size: .9em;
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

#landing-page .carousel-item .carousel-caption a.started:hover{
    color: var(--oneClick1);
    background-color: transparent;
}

#landing-page .carousel-item img::after{
content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.272);
  clip-path: polygon(50% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

/* heading */
.heading {
    margin: 1rem 0;
    text-align: center;
}

.heading h3{
    font-weight: 700;
    color: var(--oneClick1);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.heading p{
    font-size: 1rem;
    color: var(--oneClick3);
    padding-bottom: 3rem;
}

/* why choose us css */

#whoarewe .text-body{
    margin: 1rem 0 7rem 0;
}

#whoarewe .text-body h3{
    font-weight: bold;
    color: var(--oneClick1);
    font-size: 1.7em;
    margin-bottom: 1.8rem;
}


#whoarewe .text-body p{
    font-size: 1em;
    color: var(--oneClick3);
    margin-bottom: 1.5rem;
}

#whoarewe .text-body a{
    padding: .4rem 2rem;
    background-color: var(--oneClick1);
    border: .1rem solid var(--oneClick1);
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}


#whoarewe .text-body a:hover{
    color: var(--oneClick1);
    background-color: transparent;

}
/* accordian */

#whoarewe .accordion .btn-link{
    text-decoration: none;
    color: var(--oneClick1);
    font-weight: bold;

}


#whoarewe .accordion .card-header{
    background-color: white;
    padding: .5rem 2rem;
    position: relative;
}
#whoarewe .accordion .btn-link::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0;
    border-color: var(--oneClick1) transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}



#whoarewe .accordion .card-body{
    font-size: 1em;
    color: var(--oneClick3);
}


/* end of why choose us css */
/* we offer css */
#we-offer{
    padding: 4rem 0  5rem 0;
    background-color: #f5f6fa;
}
#we-offer .card-box{
    background-color: white;
}

#we-offer .icon{
    height: 180px;
    width: 100%;
    text-align: center;
    padding-top: 2.5rem
}
#we-offer .icon i{
    color: var(--oneClick1);
    font-size: 7rem;
}
#we-offer .card-texts{
    padding: .3rem;
}
#we-offer .card-texts h3{
    color: var(--oneClick1);
    font-weight: 700;
    font-size: 1.2rem;
}

#we-offer .card-texts p{
    color: var(--oneClick3);
    font-size:.8rem;
}

#we-offer a.service{
    text-decoration: none;
}

#we-offer .col-md-4{
    margin-bottom: 2rem;
}

/*fixed pos csss */

#fixed-pos{
    padding: 7rem 0;
    background-image: url(../img/macbook-2617705_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#fixed-pos .f-width{
width: 90%;
margin: auto;
}
#fixed-pos .body-text p{
    color: white;
    font-size: .9em;
    font-weight: bold;
}
#fixed-pos .body-text{
    padding: 1rem 0;
}

#fixed-pos .body-text h4{
    font-size: 2.5rem;
    color: var(--oneClick2);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 1px var(--oneClick3);
}

#recent-work{
 padding: 4rem 0;
}

#recent-work a.select img{
    width: 100%;
}

#recent-work .one-click{
    background-color: #f5f6fa;
    padding: 3rem .5rem;
    border: .1rem solid var(--oneClick3);
    height: 429px;
    margin-bottom: 1.8rem;
    position: relative;
}
#recent-work .one-click a{
    position: absolute;
    top: 25%;
}

#recent-work .one-click2{
    background-color: #f5f6fa;
    padding: 3rem .5rem;
    border: .1rem solid var(--oneClick3);
    margin-bottom: 1.8rem;
    height: 200px;
}
#recent-work .one-click3{
    background-color: #f5f6fa;
    padding: 3rem .5rem;
    border: .1rem solid var(--oneClick3);
    height: 200px;
}

/* contact us soon */

#contact-us {
    margin-top: 3rem;
}
#contact-us .contact-section{
    background-image: linear-gradient(rgba(0,0,0, .105),rgba(0,0,0, .105)), url(../img/computer-1869236_640.jpg);
    background-size: cover;
    padding: 40px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
  }


  
  
  #contact-us .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  #contact-us .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: white;
    transition: 0.5s;
  }
  #contact-us .contact-form-text:focus{
    box-shadow: 0 0 10px 4px var(--oneClick2);
  }
  #contact-us  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  #contact-us .contact-form-btn{

    border: 0;
    background: var(--oneClick1);
    color: #fff;
    padding: .4rem 2rem;
    cursor: pointer;
    transition:all ease-in-out 0.5s;
  }
  #contact-us  .contact-form-btn:hover{
    background: var(--oneClick2);
  }
  /* end of conteact  */


  /* footoer section */

  /* footer section */
#footer{
	padding: 2rem 0 0 0;
	width: 100%;


}
 
#footer div h3{
	color: var(--oneClick1);
	font-weight: bold;
	font-size: 1.3rem;
}
#footer div h3 span{
	color: white;
}
#footer div .vertical-line{
	width: 6rem;
	background: var(--oneClick1);
	height: .2rem;
}
#footer div p{
	padding-top: 1.5rem;
	color: #fff;
	font-size: .9rem;
	font-weight: 300;
}
#footer div p small i{
	padding-right: .3rem;
}
footer{
	background-color: #121212;
	color: white;
}
.Final-footer{
	display: block;
	text-align: center;
	padding: .5rem 0 .2rem 0;
}
.Final-footer p a{
	color: white;
}
.Final-footer p a:hover{
	color: var(--oneClick1);
	transition: ease 1s;
	text-decoration: none;
}


.socials-footer li{
    display: inline-block;
    margin-top: 1.5rem;
    list-style: none;
    padding-right: .5rem ;

}
.socials-footer li i{
    color: white;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}
.socials-footer li i:hover{
    color: var(--oneClick1);
}
/* end footer section */